# Project "Know_Your_Rent_Muc": Part Two
# EDA

In this I explore the data and get more inside information about them. This process is importent to understand the data. With out a deep data understanding it´s going to be difficult to create a good machine learning model.

In [32]:
import pandas as pd

First of all I look at the first 5 rows of the data. I look at them and analyse which data types are there.

In [33]:
df = pd.read_csv("221211_know_your_rent_muc_data.csv")

In [34]:
df.head()

,Unnamed: 0,"""enh_impression_list""","""enh_impression_name""","""enh_impression_position""","""search_sortby""","""object_area""","""object_city""","""object_currency""","""object_display_state""","""object_district""",...,"""object_is_special""","""object_label""","""object_marketingtype""","""object_objekt_nutzungsart""","""object_objekt_zustand""","""object_objektart""","""object_objektart_sub""","""object_price""","""object_rooms""","""object_listingtype"""
0,0,Liste,kontakt,1.0,2594468.0,37.00,München,EUR,sel_item,Thalk.Obersendl.-Forsten-Fürstenr.-Solln,...,NaN,new,Miete,WOHNEN,sonstiges,NaN,APARTMENT,1120.00,1.0,standard
1,1,Liste,kontakt,2.0,177005.0,53.06,München,EUR,sel_item,Thalk.Obersendl.-Forsten-Fürstenr.-Solln,...,top-immo,old,Miete,WOHNEN,sonstiges,NaN,ETAGE,1339.77,2.0,premium
2,2,Liste,kontakt,3.0,177005.0,64.16,München,EUR,sel_item,Thalk.Obersendl.-Forsten-Fürstenr.-Solln,...,top-immo,old,Miete,WOHNEN,sonstiges,NaN,ETAGE,1509.68,2.0,premium
3,3,Liste,kontakt,4.0,177005.0,49.46,München,EUR,sel_item,Thalk.Obersendl.-Forsten-Fürstenr.-Solln,...,top-immo,old,Miete,WOHNEN,sonstiges,NaN,ERDGESCHOSS,1600.03,2.0,premium
4,4,Liste,kontakt,5.0,177005.0,96.23,München,EUR,sel_item,Thalk.Obersendl.-Forsten-Fürstenr.-Solln,...,top-immo,old,Miete,WOHNEN,sonstiges,NaN,ETAGE,2085.30,4.0,premium

Here are the datatypes of the columns. The datatypes are automatically generated through pandas. Pandas does this most of the time right but were can be mistakes. Examples are that a discrete variable is declared as a continuouse variable.

In [35]:
df.dtypes

Unnamed: 0                       int64
"enh_impression_list"           object
"enh_impression_name"           object
"enh_impression_position"      float64
"search_sortby"                float64
"object_area"                  float64
"object_city"                   object
"object_currency"               object
"object_display_state"          object
"object_district"               object
"object_features"               object
"object_federalstate"           object
"object_gok"                    object
"object_is_special"             object
"object_label"                  object
"object_marketingtype"          object
"object_objekt_nutzungsart"     object
"object_objekt_zustand"         object
"object_objektart"             float64
"object_objektart_sub"          object
"object_price"                 float64
"object_rooms"                 float64
"object_listingtype"            object
dtype: object

Here is the summary of the obsarvation:
- The unnamed column are the id´s. The id´s are ordinal variables and needs to be transformed to a object. 
- The same is applicable to "enh_impression_position".
- The variable "search_sortby" is definitely a discret variable, because the variable doesn´t measure something. It need to be transformed to a integer. 
- The variable "object_area" measurement the room size in square feet. The float is here right declared.
- The variable "object_objektart" seems to have no entities. It can be deleted.
- The variable "object_price" is a discrete varibale and need to be transformed to a integer. 
- The same is applicable to "object_rooms".
- "object_label" is binar.

In [36]:
df.rename(columns = {'Unnamed: 0':'id'}, inplace = True)

In [49]:
df['id'] = df['id'].astype("object")
df['"enh_impression_position"'] = df['"enh_impression_position"'].astype("string")
df['"search_sortby"'] = df['"search_sortby"'].astype("int")
df['"object_price"'] = df['"object_price"'].astype("int")
df['"object_rooms"'] = df['"object_rooms"'].astype("int")
df = df.drop('"object_objektart"', axis=1)

In [50]:
df.dtypes

id                              object
"enh_impression_list"           object
"enh_impression_name"           object
"enh_impression_position"       string
"search_sortby"                  int64
"object_area"                  float64
"object_city"                   object
"object_currency"               object
"object_display_state"          object
"object_district"               object
"object_features"               object
"object_federalstate"           object
"object_gok"                    object
"object_is_special"             object
"object_label"                  object
"object_marketingtype"          object
"object_objekt_nutzungsart"     object
"object_objekt_zustand"         object
"object_objektart_sub"          object
"object_price"                   int64
"object_rooms"                   int64
"object_listingtype"            object
dtype: object